<div class="category-container">
    <mat-card class="" >
        <button mat-stroked-button color="primary" class="m-1" (click)="changeCategory()">
            Home
        </button>
        <button *ngFor="let cat of categories"
            color="primary" 
            mat-stroked-button 
            class="mx-1 my-h"
            [class.cat-active]="cat == selectedCategory"
            (click)="changeCategory(cat)">
            {{cat}}
        </button>
    </mat-card>
    
    <div class="col-9 p-2 text-dark">
        <mat-card  *ngFor="let product of products" class="m-1">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <span class="spacer"></span>
                <mat-chip-set>
                    <mat-chip color="primary">
                        {{ product.price | currency:"USD":"symbol":"2.2-2" }}
                    </mat-chip>
                </mat-chip-set>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{product.description}}
                </p>
            </mat-card-content>
        </mat-card >
    </div>
</div>
  